<a href="https://colab.research.google.com/github/shhh-33/coding_test/blob/shhh/%EA%B8%B0%EC%B4%88_%EC%A2%85%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

정수(1 ~ 100) 1개를 입력받아 1부터 그 수까지 짝수의 합을 구해보자.

In [1]:
n = int(input())
s = 0
for i in range(1, n+1) :
  if i%2==0 :
    s += i

print(s)

4
6

영문 소문자 'q'가 입력될 때까지
입력한 문자를 계속 출력하는 프로그램을 작성

In [2]:
while True:
     x=input()
     print(x)
     if x=='q':
          break

a
a
ertwwerq
ertwwerq
q
q

10 입력시 55출력되게 

1부터 n까지 정수를 계속 더해 나간다때

In [ ]:
sum=0
i=0
n = int(input())
while True:
    i+=1
    sum+=i
    if(sum>=n):
        print(i)
        break

In [3]:
n = int(input()) #3
i = 0
s = 0
while(s < n): #0<3, 1<3
	i += 1 #1, 2
	s += i #1, 3
print(i) #2출력

3
2

1부터 n까지, 1부터 m까지 숫자가 적힌 서로 다른 주사위 2개를 던졌을 때,
나올 수 있는 모든 경우를 출력해보자.


range(1, 11)은 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 숫자를 생성

range(20, 0, -2)

20, 18, 16, 14, 12, 10, 8, 6, 4, 2

In [4]:
n,m = map(int,input().split())
for i in range(1,n+1):
    for j in range(1,m+1):
        print(i, j)

1 3
1 1
1 2
1 3

1 부터 그 수까지 순서대로 공백을 두고 수를 출력하는데,


3 또는 6 또는 9가 포함 되어있는 수인 경우, 그 수 대신 영문 대문자 X 를 출력한다.

In [5]:
a = int(input())

for i in range(1,a+1):
    
    if (i%10==3 or i%10==6 or i%10==9):
        print('X',end=' ')
        continue
    
    print(i,end=' ')

10
1 2 X 4 5 X 7 8 X 10


6083.빨강(r), 초록(g), 파랑(b) 각 빛의 가짓수가 주어질 때,
주어진 rgb 빛들을 섞어 만들 수 있는 모든 경우의 조합(r g b)과 만들 수 있는 색의 가짓 수를 계산해보자.

In [ ]:
r,g,b = map(int,input().split())
count=0;
for i in range(r):
    for j in range(g):
        for k in range(b):
            print('%d %d %d' %(i,j,k))
            count+=1
print(count)