<a href="https://colab.research.google.com/github/shhh-33/algorithm/blob/shhh/%EB%B0%B1%EC%A4%80%EB%B8%8C%EB%A1%A0%EC%A6%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<수학>

##공약수
자연수 n개가 주어진다. 이 자연수의 공약수를 모두 구하는 프로그램
- 첫째 줄에 n이 주어진다. n은 2 또는 3이다. 
- 둘째 줄에는 공약수를 구해야 하는 자연수 n개가 주어진다.

In [ ]:
n=int(input()) #2 입력
mlist=list(map(int, input().split())) #75,125 입력
res=[]

for i in range (1,min(mlist)+1): #(1,76) 
    if n==2:
        if mlist[0]%i==0 and mlist[1]%i==0:
            res.append(i)
    elif n==3:
        if mlist[0]%i==0 and mlist[1]%i==0 and mlist[2]%i==0:
            res.append(i)
            

for i in res:
    print(i)

2
75 125
1
5
25

#<구현>

##윤년
연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

-윤년은 연도가 4의 배수**이면서**,  100의 배수가 아닐 때 **또는** 400의 배수일 때이다.

- 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 
-  1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다.
- 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [ ]:
year = int(input())
 
if(year%4==0 and year%100!=0 or year%400==0):
        print("1");
else:
        print("0");

##진법 변환
B진법 수 N이 주어진다. 이 수를 10진법으로 바꿔 출력하는 프로그램

In [ ]:
a, b = input().rstrip().split()
print(int(a, int(b)))

##8진수 2진수
8진수가 주어졌을 때, 2진수로 변환하는 프로그램을 작성

In [ ]:
n=input()
n = int(n, 8)
print(bin(n)[2:])

314
11001100

In [ ]:
#2->8

print(oct(int(input(),2))[2:])

0101
5

##최소, 최대2
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램

In [2]:
for _ in range(int(input())):
    #N = int(input())
    li = sorted(map(int, input().split()))
    print(li[0], li[-1])

1
9 5 6 4 2
2 9

In [ ]:
t = int(input()) #1번 실행할거

for i in range(t):
    n = int(input()) #5개입력받을거다
    arr = list(map(int, input().split())) #20 28 22 25 21
    print(min(arr),max(arr))

1
5
20 28 22 25 21
20 28

##과제 안 내신 분?
- 교실엔 학생이 30명이 있는데, 학생 명부엔 각 학생별로 1번부터 30번까지 출석번호가 붙어 있다.

- 교수님이 내준 특별과제를 28명이 제출했는데, 그 중에서 제출 안 한 학생 2명의 출석번호를 구하는 프로그램

<br>
 

미리 리스트를 만들어둔 뒤, 입력받은 대로 리스트에서 제거한다.
그리고 배열에 남은 숫자를 출력하면 된다.

In [4]:
students = [i for i in range(1,7)] #학생들의 출석번호들을 모두 리스트에 담는다 1~6번

for _ in range(4): 
    applied = int(input()) #1,2,3,4 입력하면
    students.remove(applied) #저것들 소거

print(min(students)) #남은것들 출력
print(max(students))

1
2
3
4
5
6

In [ ]:
s = [i for i in range(1,7)]

for _ in range(4):
    s.remove(int(input()))
    
print(s,sep="\n")
print(*s,sep="\n")

1
2
6
5
[3, 4]
3
4

리스트 컴프리헨션

In [ ]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
[str(i) for i in range(5)]

['0', '1', '2', '3', '4']

##전구

- 다시보기..

In [ ]:
n,m=map(int,input().split()) #전구의 개수, 입력되는 명령어의 개수
bulbs=list(map(int, input().split())) #현재 어떤 상태 인지 주어진다. (0은 꺼져있는 상태, 1은 켜져있는 상태)

for i in range(m):
    a,b,c=map(int, input().split())
    if a==1: bulbs[b-1]=c
    elif a==2 :
        for j in range(b-1,c):
            if bulbs[j]==1:bulbs[j]=0
            else : bulbs[j]=1
    elif a==3:
        for j in range(b-1, c):
            bulbs[j]=0
    elif a==4:
        for j in range(b-1, c):
            bulbs[j]=1
print(*bulbs)

#<완전탐색>

##피로도

하루에 한 시간 단위로 일을 하거나 일을 쉬어도 된다. 
- 하루에 한 시간 일하면 피로도는 A 만큼 쌓이고
- 일은 B 만큼 처리할 수 있다.

- 만약에 한 시간을 쉰다면 피로도는 C 만큼 줄어든다.

 단, 피로도가 음수로 내려가면 0으로 바뀐다. 당연히 일을 하지 않고 쉬었기 때문에 처리한 일은 없다.

- 피로도를 최대한 M 을 넘지 않게 일을 하려고 한다.

 M 를 넘기면 일하는데 번아웃이 와서 이미 했던 일들도 다 던져버리고 일을 그만두게 된다.

번아웃이 되지 않도록 일을 할때 하루에 최대 얼마나 일을 할 수 있는지 구해보자. 하루는 24시간이다.

In [ ]:
a, b, c, m = map(int, input().split()) 
"""
a = 일하면 쌓임
b = 일 처리
c = 쉬면 줄어듬
m : 피로도경계

"""

day = 0 

result = 0 #처리한 일 
count = 0 #피로도

if a > m : #일함 > 피로도 ==일못함 0출력
  print(0)
else : #그렇지 않을경우 24시간 동안 수행 
  while day != 24 :
    day += 1

    if count + a <= m : #일하기
      result += b
      count += a
    else : #쉬기
      if count - c >= 0 :
        count -= c
      else : #!!피로도는 0보다 작아질 수 없음!!
        count = 0

  print(result)

5 3 2 10
24

In [ ]:
# 피로도는 0보다 작아질 수 없다. (1시간일하면 A만큼 피로도 쌓이고 B만큼 처리가능) 1시간 쉬면 C만큼 피로도 줄어듬 처리한 일은 0
# 피로도 M넘으면 번아웃

A,B,C,M = map(int, input().split()) #입력받는 값 (A: 추가되는 피로도, B: 작업량, C:감소되는 피로도, M:피로도 한계치)

T = 0  #피로도
DW = 0   #최대 작업량

for i in range(24):   #하루는 24시간이므로 24번 반복
  if T > M: #피로도가 M을 넘어갈 경우, 번아웃으로 작업량은 0
    print(0)
  else:
    if T + A <= M:#일을 할 수 있는 경우
      T += A #A만큼 피로도를 더하고 B만큼 작업량 추가
      DW += B
    else: #일을 할 수 없는 경우
      if T - C >=0: #쉬어서 피로도가 C만큼 감소되었을 때 그 값이 0이상인 경우, 피로도를 C만큼 감소 
        T -= C 
      else: #쉬어서 피로도가 음수인 경우, 피로도는 0
        T = 0
print(DW) #최대 작업량 출력

##블랙잭
규칙 
- 첫째 줄에 M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 출력한다.
- 각 카드에는 양의 정수가 쓰여 있다.
-  그 다음, 딜러는 N장의 카드를 모두 숫자가 보이도록 바닥에 놓는다. 
- 그런 후에 딜러는 숫자 M을 크게 외친다.

- 이제 플레이어는 제한된 시간 안에 N장의 카드 중에서 3장의 카드를 골라야 한다.
-  블랙잭 변형 게임이기 때문에, 플레이어가 고른 카드의 합은 M을 넘지 않으면서 M과 최대한 가깝게 만들어야 한다.

N장의 카드에 써져 있는 숫자가 주어졌을 때, M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 구해 출력하시오.

In [ ]:
N, M = map(int, input().split()) #n장의 카드 , M을 넘지않음
arr = list(map(int, input().split())) #카드에 쓰여져 있는 정수
result = 0

#3장의 카드 골라야해서 3중 for
for i in range(N):
   for j in range(i+1, N):
       for k in range(j+1, N):
           if arr[i] + arr[j] + arr[k] > M:
               continue
           else:
               result = max(result, arr[i]+arr[j]+arr[k])
print(result)

5 21
5 6 7 8 9
21

##분해합
- 어떤 자연수 N이 있을 때, 그 자연수 N의 분해합은 N과 N을 이루는 각 자리수의 합을 의미한다. 
- 어떤 자연수 M의 분해합이 N인 경우, M을 N의 생성자라 한다.
-  예를 들어, 245의 분해합은 256(=245+2+4+5)이 된다. 
- 따라서 245는 256의 생성자가 된다. 물론, 어떤 자연수의 경우에는 생성자가 없을 수도 있다. 반대로, 생성자가 여러 개인 자연수도 있을 수 있다.

자연수 N이 주어졌을 때, N의 가장 작은 생성자를 구해내는 프로그램을 작성하시오.

In [9]:
n = int(input())
result = 0

for i in range(1, n+1): #1부터 216까지 모든 수를 계산해보며 분해합을 구한다.
    nums = list(map(int, str(i))) # 숫자의 각 자리수를 리스트 형태로 저장 2,5,6
    print(i)
    print(nums)
    result = sum(nums) + i # 18+198 =216

    if result == n:  # 만약 분해합이 n과 같다면
        print(i) #198 출력하고 종료
        break
    if i == n:
       print(0)

216
1
[1]
2
[2]
3
[3]
4
[4]
5
[5]
6
[6]
7
[7]
8
[8]
9
[9]
10
[1, 0]
11
[1, 1]
12
[1, 2]
13
[1, 3]
14
[1, 4]
15
[1, 5]
16
[1, 6]
17
[1, 7]
18
[1, 8]
19
[1, 9]
20
[2, 0]
21
[2, 1]
22
[2, 2]
23
[2, 3]
24
[2, 4]
25
[2, 5]
26
[2, 6]
27
[2, 7]
28
[2, 8]
29
[2, 9]
30
[3, 0]
31
[3, 1]
32
[3, 2]
33
[3, 3]
34
[3, 4]
35
[3, 5]
36
[3, 6]
37
[3, 7]
38
[3, 8]
39
[3, 9]
40
[4, 0]
41
[4, 1]
42
[4, 2]
43
[4, 3]
44
[4, 4]
45
[4, 5]
46
[4, 6]
47
[4, 7]
48
[4, 8]
49
[4, 9]
50
[5, 0]
51
[5, 1]
52
[5, 2]
53
[5, 3]
54
[5, 4]
55
[5, 5]
56
[5, 6]
57
[5, 7]
58
[5, 8]
59
[5, 9]
60
[6, 0]
61
[6, 1]
62
[6, 2]
63
[6, 3]
64
[6, 4]
65
[6, 5]
66
[6, 6]
67
[6, 7]
68
[6, 8]
69
[6, 9]
70
[7, 0]
71
[7, 1]
72
[7, 2]
73
[7, 3]
74
[7, 4]
75
[7, 5]
76
[7, 6]
77
[7, 7]
78
[7, 8]
79
[7, 9]
80
[8, 0]
81
[8, 1]
82
[8, 2]
83
[8, 3]
84
[8, 4]
85
[8, 5]
86
[8, 6]
87
[8, 7]
88
[8, 8]
89
[8, 9]
90
[9, 0]
91
[9, 1]
92
[9, 2]
93
[9, 3]
94
[9, 4]
95
[9, 5]
96
[9, 6]
97
[9, 7]
98
[9, 8]
99
[9, 9]
100
[1, 0, 0]
101
[1, 0, 1]
102
[1, 0, 2]
103
[1, 0, 3]
104
[1, 0, 4]
105
[1, 0, 5]
106
[1, 0, 6]
107
[1, 0, 7]
108
[1, 0, 8]
109
[1, 0, 9]
110
[1, 1, 0]
111
[1, 1, 1]
112
[1, 1, 2]
113
[1, 1, 3]
114
[1, 1, 4]
115
[1, 1, 5]
116
[1, 1, 6]
117
[1, 1, 7]
118
[1, 1, 8]
119
[1, 1, 9]
120
[1, 2, 0]
121
[1, 2, 1]
122
[1, 2, 2]
123
[1, 2, 3]
124
[1, 2, 4]
125
[1, 2, 5]
126
[1, 2, 6]
127
[1, 2, 7]
128
[1, 2, 8]
129
[1, 2, 9]
130
[1, 3, 0]
131
[1, 3, 1]
132
[1, 3, 2]
133
[1, 3, 3]
134
[1, 3, 4]
135
[1, 3, 5]
136
[1, 3, 6]
137
[1, 3, 7]
138
[1, 3, 8]
139
[1, 3, 9]
140
[1, 4, 0]
141
[1, 4, 1]
142
[1, 4, 2]
143
[1, 4, 3]
144
[1, 4, 4]
145
[1, 4, 5]
146
[1, 4, 6]
147
[1, 4, 7]
148
[1, 4, 8]
149
[1, 4, 9]
150
[1, 5, 0]
151
[1, 5, 1]
152
[1, 5, 2]
153
[1, 5, 3]
154
[1, 5, 4]
155
[1, 5, 5]
156
[1, 5, 6]
157
[1, 5, 7]
158
[1, 5, 8]
159
[1, 5, 9]
160
[1, 6, 0]
161
[1, 6, 1]
162
[1, 6, 2]
163
[1, 6, 3]
164
[1, 6, 4]
165
[1, 6, 5]
166
[1, 6, 6]
167
[1, 6, 7]
168
[1, 6, 8]
169
[1, 6, 9]
170
[1, 7, 0]
171
[1, 7, 1]
172
[1, 7, 2]
173
[1, 7, 3]
174
[1, 7, 4]
175
[1, 7, 5]
176
[1, 7, 6]
177
[1, 7, 7]
178
[1, 7, 8]
179
[1, 7, 9]
180
[1, 8, 0]
181
[1, 8, 1]
182
[1, 8, 2]
183
[1, 8, 3]
184
[1, 8, 4]
185
[1, 8, 5]
186
[1, 8, 6]
187
[1, 8, 7]
188
[1, 8, 8]
189
[1, 8, 9]
190
[1, 9, 0]
191
[1, 9, 1]
192
[1, 9, 2]
193
[1, 9, 3]
194
[1, 9, 4]
195
[1, 9, 5]
196
[1, 9, 6]
197
[1, 9, 7]
198
[1, 9, 8]
198

In [ ]:
target = int(input())
 
for i in range(target):
    temp = sum(map(int, str(i))) #해당 값을 str로 바꾸고 각 자리수를 모두 더해준 값을 temp에 넣어준다.
    result = i + temp #현재 i값과 temp를 더한 값을 result로 초기화 216+9

    if result == target:
        print(i)
        break
else:
    print(0)

216
198

In [ ]:
N = int(input())
result = 0

for i in range(1, N + 1):
  tmp = i + sum(map(int,str(i)))

  if tmp == N:
    result = i
    break

print(result)

1
0

##수학은 비대면강의입니다
연립방정식 계산
![image.png]()

In [ ]:
a,b,c,d,e,f = map(int,input().split())
for x in range(-999,1000): #-999이상 999이하의 정수만 입력가능
    for y in range(-999,1000):
        if (a*x+b*y)==c and (d*x+e*y)==f:
            print(x,y)
            break

1 3 -1 4 1 7
2 -1

##시각
정수 N과 K가 입력되었을 때 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 

K가 하나라도 포함되는 모든 시각을 세는 프로그램을 작성

In [ ]:
n, k = map(int,input().split())
ans = 0
for h in range(n+1): #3시
    for m in range(60): #분
        for s in range(60): #초
            ans+= str(k) in f"{h:02d}{m:02d}{s:02d}"
print(ans)

3 5
6300

In [ ]:
N,K = map(int, input().split())

count = 0
for i in range(N+1):
    for j in range(60):
        for k in range(60):
            if str(K) in str(i)+str(j)+str(k):
                count+=1
print(count)

3 5
6300