<a href="https://colab.research.google.com/github/shhh-33/coding_test/blob/shhh/%EC%82%B0%EC%88%A0%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

입력된 정수의 부호를 바꿔 출력

In [1]:
print(-int(input()))

4
-4

2-1) ord(문자)
하나의 문자를 인자로 받고 해당 문자에 해당하는 유니코드 정수를 반환합니다.
ord('a')를 넣으면 정수 97을 반환합니다.
 
2-2) chr(정수)
하나의 정수를 인자로 받고 해당 정수에 해당하는 유니코드 문자를 반환합니다.
chr(97)을 하면 문자 'a'를 반환합니다.

문자 1개 입력받아 다음 문자 출력


영문자 'A'의 다음 문자는 'B'이고, 숫자 '0'의 다음 문자는 '1'이다.

In [3]:
print(chr(ord(input())+1))

0
1

정수 2개(a, b)를 입력받아 a에서 b를 뺀 차를 출력

In [5]:
a,b=map(int,input().split())
print(a-b)

1 4
-3

단어와 반복 횟수를 입력받아 여러 번 출력해보자.

In [6]:
w,n = input().split()
print(w*int(n))

hello 3
hellohellohello

정수 2개 입력받아 거듭제곱 계산

In [7]:
a,b = map(int,input().split())
print(a**b)

2 10
1024

정수 2개(a, b) 를 입력받아 a를 b로 나눈 몫을 출력

In [9]:
a, b = input().split()
print(int(a) // int(b))

5 4
1

정수 2개(a, b) 를 입력받아 a를 b로 나눈 나머지를 출력

In [10]:
a, b = input().split()
print(int(a) % int(b))

5 3
2

실수 2개(f1, f2)를 입력받아
f1 을 f2 로 나눈 값을 출력해보자. 이 때 소숫점 넷째자리에서 반올림하여 무조건 소숫점 셋째 자리까지 출력

In [ ]:
a, b = map(float, input().split())
print('%.3f' %round((a / b), 3))

정수 2개(a, b)를 입력받아 합, 차, 곱, 몫, 나머지, 나눈 값을 자동으로 계산해보자.
단, b는 0이 아니다.

In [12]:
a, b = map(int,input().split())

if(a >= 0 and b != 0):
    print(a + b)
    print(a - b)
    print(a * b)
    print(a // b)
    print(a % b)
    print(round((a / b), 2))

10 3
13
7
30
3
1
3.33

정수 3개를 입력받아 합과 평균을 출력

In [14]:
a, b, c = map(int,input().split())
print(a + b + c, round(((a + b + c) / 3), 2))

1 2 3
6 2.0