<a href="https://colab.research.google.com/github/shhh-33/algorithm/blob/shhh/%EC%9E%85%EC%B6%9C%EB%A0%A5%2C%EA%B0%92_%EC%B6%9C%EB%A0%A5%EB%B3%80%ED%99%986000~6031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##문자 1개 입력받아 그대로 출력하기

In [ ]:
c = input()
print(c)

a
a

##정수 1개 입력받아 int로 변환하여 출력하기

In [ ]:
n =int(input())
print(n)

4
4

##map(변환함수,순회가능한데이터)

In [ ]:
a, b = map(int,input().split()) #공백을 기준으로 입력받기
print(a,b)

4 5
4 5

###문자 2개 입력받아 순서 바꿔 출력하기

In [ ]:
a, b = map(str,input().split())
print(b,a)

1 2
2 1

실수 입력받아 둘째 자리까지 출력하기

In [ ]:
a = float(input())
print("%0.2f"%a)

2.2324
2.23

 정수 1개 입력받아 3번 출력하기

In [ ]:
a = input()
print(a,a,a)

2
2 2 2

24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력

In [ ]:
h,m=input().split(':');
print(int(h), int(m), sep=':');

02 :03
2:3

"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

In [ ]:
y,m,d = input().split('.')
print(d,m,y,sep='-')

2022.05.24
24-05-2022

주민번호는 다음과 같이 구성된다.
XXXXXX-XXXXXXX


주민번호를 입력받아 형태를 바꿔 출력해보자.
'-'를 제외한 주민번호 13자리를 모두 붙여 출력한다.

In [ ]:
a, b = input().split('-')
print(a,b,sep='')

111111-8787878
1111118787878

## 단어 1개 입력받아 나누어 출력하기

In [ ]:
a =input()
for i in range(0,5):
  print(a[i],sep="\n")

hello
h
e
l
l
o

시:분:초 형식으로 시간이 입력될 때 분만 출력해보자.

In [ ]:
h, m, s = input().split(':')
print(m)

2:51:14
51

단어 2개 입력받아 이어 붙이기

In [ ]:
w1, w2 = input().split()
s = w1 + w2
print(s)

q w
qw

10진 정수 입력받아 16진수로 출력하기

In [ ]:
print('%x' %int(input()))
print('%X' %int(input()))

255
ff
255
FF

16진 정수 입력받아 8진수로 출력하기

In [ ]:
a = input()
n = int(a, 16)      #입력된 a를 16진수로 인식해 변수 n에 저장
print('%o' % n)  #n에 저장되어있는 값을 8진수(octal) 형태 문자열로 출력

f
17

 정수 입력받아 유니코드 문자로 변환하기

In [ ]:
c = int(input())
print(chr(c))  #c에 저장되어 있는 정수 값을 유니코드 문자(chracter)로 바꿔 출력한다.

65
A

##format
실수 1개를 입력받아
소숫점 이하 두 번째 자리까지의 정확도로 반올림한 값을 출력해보자.

In [ ]:
a=float(input())

print( format(a, ".2f") )

5.4887
5.49