<a href="https://colab.research.google.com/github/shhh-33/coding_test/blob/shhh/%EC%A1%B0%EA%B1%B4%2C%EB%B0%98%EB%B3%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3개의 정수(a, b, c)가 입력되었을 때, 짝수만 줄을 바꿔 출력

In [ ]:
a,b,c=map(int,input().split())
if a%2==0:
    print(a)
if b%2==0:
    print(b)
if c%2==0:
    print(c)

1 2 3
2

In [ ]:
data = input().split()
for i in data:
    if(int(i) % 2 == 0):
        print(int(i))

2 3 4
2
4

정수 3개 입력받아 짝/홀 출력하기

In [ ]:
a,b,c = map(int,input().split())
if a%2==0:
    print('even')
else : print('odd')
if b%2==0:
    print('even')
else : print('odd')
if c%2==0:
    print('even')
else : print('odd')

1 2 3
odd
even
odd

In [ ]:
data = input().split()
for i in data:
    if(int(i) % 2 == 0):
        print('even')
    else:
        print('odd')

1 2 3
odd
even
odd

0이 아닌 정수 1개가 입력되었을 때, 

음(-)/양(+)과 짝(even)/홀(odd)을 구분해 분류해보자.


음수이면서 짝수이면, A
음수이면서 홀수이면, B
양수이면서 짝수이면, C
양수이면서 홀수이면, D

In [1]:
a = int(input())
if a<0:
    if a%2==0:
        print('A')
    else : print('B')
else:
    if a%2==0:
        print('C')
    else : print('D')

4
C

점수(정수, 0 ~ 100)를 입력받아 평가를 출력

In [ ]:
a= int(input())
if a<=100 and a>=90:
    print('A')
elif a<90 and a>=70:
    print('B')
elif a<70 and a>=40:
    print('C')
else : print('D')

월이 입력될 때 계절 이름이 출력되도록 해보자.


12, 1, 2 : winter
  3, 4, 5 : spring
  6, 7, 8 : summer
  9, 10, 11 : fall

In [2]:
a=int(input())
if a//3==1:
    print("spring")
elif a//3==2:
    print("summer")
elif a//3==3:
    print("fall")
else:
    print("winter")

12
winter

In [3]:
month = int(input())
season = ''
if(month in [12, 1, 2]):
    season = 'winter'
elif(month in [3, 4, 5]):
    season = 'spring'
elif(month in [6, 7, 8]):
    season = 'summer'
else:
    season = 'fall'
print(season)

4
spring

임의의 정수가 줄을 바꿔 계속 입력된다.
-2147483648 ~ +2147483647, 단 개수는 알 수 없다.

0이 아니면 입력된 정수를 출력하고, 0이 입력되면 출력을 중단해보자.

In [4]:
n=int(input())

while n!=0:
    print(n)
    n=int(input())

1
1
52
52
0

In [5]:
i = True
while(i):
    num = int(input())
    if(num == 0):
        i = False
    else:
        print(num)

1
1
5
5
0

정수(1 ~ 100) 1개가 입력되었을 때 카운트다운을 출력해보자.

In [6]:
num = int(input())
while(num > 0): #num!=0
    print(num)
    num -= 1

4
4
3
2
1

0까지 카운트다운

In [8]:
num = int(input())
while(num > 0):
    num -= 1
    print(num)

3
2
1
0

영문 소문자(a ~ z) 1개가 입력되었을 때,
a부터 그 문자까지의 알파벳을 순서대로 출력해보자.

2-1) ord(문자)
하나의 문자를 인자로 받고 해당 문자에 해당하는 유니코드 정수를 반환합니다.
ord('a')를 넣으면 정수 97을 반환합니다.
 
2-2) chr(정수)
하나의 정수를 인자로 받고 해당 정수에 해당하는 유니코드 문자를 반환합니다.
인자(정수)의 유효 범위는 0 ~ 1,114,111 (16진수 0x10 FFFF)까지 입니다.
chr(97)을 하면 문자 'a'를 반환합니다.

In [11]:
a = input()
count = 0
while(count <= ord(a)-97):
    print(chr(97+count), end=' ')
    count += 1

e
a b c d e

정수(0 ~ 100) 1개를 입력받아 0부터 그 수까지 순서대로 출력

In [12]:
n = int(input())
a=n #4
while n>=0:
    print(a-n) #4-4=0 출력하고
    n-=1 #n=3

4
0
1
2
3
4

In [13]:
n = int(input())
a=n
while n>=0:
    print(a-n)
    n-=1

4
0
1
2
3
4