<a href="https://colab.research.google.com/github/shhh-33/algorithm/blob/shhh/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4_%EB%AC%B8%EC%9E%90%EC%97%B4%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##문자열 다루기 기본
<조건>
1. 문자열 s의 길이가 4 혹은 6이고
2. 숫자로만 구성돼있는지 확인



예를 들어 s가 "a234"이면 False를 리턴하고 "1234"라면 True를 리턴하면 됩니다.

<쓰인 함수>
 - isdigit : 모든 문자열이 숫자이면 True,
 - len(문자열) : 개수확인

In [ ]:
def solution(s):
    if(len(s)==4 or len(s)==6): #조건1
        if s.isdigit(): #조건2
            return True
        else:
            return False
    else:
        return False

print(solution("a234"))

False

In [ ]:
def solution(s):

    return s.isdigit() and (len(s) == 4 or len(s) == 6)
    
print(solution("a234"))

False

##문자열 내 p와 y의 개수
<조건>
1. 대문자와 소문자가 섞여있는 문자열 s가 주어집니다.
2. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 
다르면 False를 return 
3.('p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴) 
4.단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

<쓰이는 것>
 - lower,upper
 - count

In [ ]:
def solution(s):
    answer = True
    p=0
    y=0
    s =s.upper()
    
    for i in range(len(s)):  
        if(s[i]=='P'):
            p +=1
        elif(s[i]=='Y'):
            y +=1
            
    if(p==y):
        return True
    else:
        return False


print(solution("pPoooyY34"))

True

In [ ]:
def numPY(s):
    # 함수를 완성하세요
    return s.lower().count('p') == s.lower().count('y')

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print( numPY("pPoooyY") )
print( numPY("Pyy") )

True
False

In [ ]:
def numPY(s):
   
    s = s.lower()
    num_p = s.count('p')
    num_y = s.count('y')
    
    if num_p == num_y: 
        return True
    else: 
        return False

print( numPY("pPoooyY") )
print( numPY("Pyy") )

True
False

##가운데 글자 가져오기
<조건>
1. 단어 s의 가운데 글자를 반환
2. 단어의 길이가 짝수라면 가운데 두글자를 반환

<쓰이는 것>
- len
- 리스트 슬라이싱

In [ ]:
def solution(s):
    
    if(len(s) %2 ==0):
        return s[(len(s)//2-1) : (len(s)//2+1)] #//몫
    else:
        return s[len(s)//2]

print(solution("power"))

w

##이상한 문자 만들기

<조건>
1. 문자열 s는 한 개 이상의 단어로 구성되어 있습니다.
2. 각 단어는 하나 이상의 공백문자로 구분되어 있습니다. 
3. 각 단어의 짝수번째 알파벳은 대문자로, 홀수번째 알파벳은 소문자로 바꾼 문자열을 리턴하는 함수, solution을 완성하세요.

<쓰인 것>
- 리스트, 문자열
- upper,lower
- append(리스트), +=(문자열)
- join

<다시보기>
-  for s in s.split(' '):

In [1]:
def solution(s):
    result = [] #빈 리스트
    for s in s.split(' '):  #조건2 띄어쓰기를 기준으로 문자를 분리해준다.
        st = '' #빈 문자열
        for i in range(len(s)):  #index를 생성해주기 위해
            if i % 2 == 0:  #조건3
                st += s[i].upper()  #그 결과는 st라는 새로운 공간에 붙여준다.
            else :
                st += s[i].lower()

        result.append(st)  #변형시킨 st들을 result에 리스트로 붙여준다.
        
    return ' '.join(result)  #띄어쓰기를 기준으로 다시 문자를 붙여준다.

print(solution("pyYaB"))

PyYaB

##문자열을 정수로 바꾸기


<조건>
1. 문자열 s를 숫자로 변환한 결과를 반환
2. s의 길이는 1 이상 5이하입니다.
3. s의 맨앞에는 부호(+, -)가 올 수 있습니다.
4. s는 부호와 숫자로만 이루어져있습니다.
5. s는 "0"으로 시작하지 않습니다.

<쓰인 것>
 - int

In [ ]:
def solution(s):
    if(len(s)>0 and len(s)<6):
        return int(s)

print(solution("1234"))

1234

In [ ]:
strToInt = int


print(strToInt("-1234"));

-1234

##수박수박수박수박수박수?
<조건>
1. 길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수 완성하세요.

예를들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴

<쓰인 것>

In [ ]:
def solution(n):
    answer = '' #빈 문자열
    
    for i in range(n): #4까지 반복
        if(i%2==1): #인덱스 홀수면 
            answer+='박'
        else:
            answer+='수'
        
    return answer

print(solution(4))

수박수박

In [ ]:
def water_melon(n):
    s = "수박" * n
    return s[:n]


# 실행을 위한 테스트코드입니다.
print("n이 3인 경우: " + water_melon(3));

n이 3인 경우: 수박수

##서울에서 김서방 찾기
<조건>

1. String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, 
2. "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요.
3. seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

<쓰인 것>
 - index(배열==리스트)
 - str

In [ ]:
def solution(seoul):
    answer = ''
    
    x = seoul.index('Kim')  
    answer = '김서방은 '+str(x)+'에 있다'
    
    return answer

In [ ]:
def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))


# 실행을 위한 테스트코드입니다.
print(findKim(["Queen", "Tod", "Kim"]))

김서방은 2에 있다

In [ ]:
def findKim(seoul):
    
    for i in range(len(seoul)):
        if seoul[i]=="Kim":
            return "김서방은 {}에 있다".format(i)


print(findKim(["Queen", "Tod", "Kim"]))

김서방은 2에 있다

##문자열 내림차순으로 배치하기
<조건>
1. 문자열 s에 나타나는 문자를 큰것부터 작은 순으로 정렬해
 새로운 문자열을 리턴
2. s는 영문 대소문자로만 구성되어 있으며, 대문자는 소문자보다 작은 것으로 간주합니다.

<쓰인 것>
 - sorted
 - reverse
 - join

In [ ]:
def solution(s):
  return("".join(sorted(s)[::-1]))

print(solution("aaREdg"))

gdaaRE

In [ ]:
def solution(s):
    return ''.join(sorted(s, reverse=True))

##문자열 내 마음대로 정렬하기
<조건>
1. 문자열로 구성된 리스트 strings와, 정수 n이 주어졌을 때
2.  각 문자열의 인덱스 n번째 글자를 기준으로 오름차순 정렬하려 합니다.

 예를 들어 strings가 ["sun", "bed", "car"]이고 n이 1이면 각 단어의 인덱스 1의 문자 "u", "e", "a"로 strings를 정렬합니다.

 <쓰인 것> 
 - 리스트 append
 - sort
 - 리스트 슬라이싱
 - 람다

In [ ]:
def solution(strings, n):
    new = []
    for i in strings:
        new.append(i[n]+i)
    new.sort()

    return new

print(solution(["sun", "bed", "car"], 1))

['acar', 'ebed', 'usun']

In [ ]:
def solution(strings, n):

  #n인덱스로 정렬 먼저한다음(['acar', 'ebed', 'usun'])
    new = []
    for i in strings:
        new.append(i[n]+i)
    new.sort()

  #1부터 차례로 출력
    answer =[]
    for i in new:
        answer.append(i[1:])
    return answer
    
print(solution(["sun", "bed", "car"], 1))

['car', 'bed', 'sun']

In [ ]:
def strange_sort(strings, n):
    '''strings의 문자열들을 n번째 글자를 기준으로 정렬해서 return하세요'''
    return sorted(strings, key=lambda x: x[n])

strings = ["sun", "bed", "car"] 
print(strange_sort(strings, 1))

['car', 'bed', 'sun']

##핸드폰 번호 가리기
<조건>
1. 전화번호가 문자열 phone_number로 주어졌을 때
2.  **전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린** 문자열을 리턴하는 함수, solution을 완성해주세요.

<쓰인 것>
- 슬라이싱
- 문자열 더하기

In [ ]:
def solution(phone_number):
    answer = ''
    
    #4개를 *로 만들고
    for i in range(len(phone_number)-4):
        answer+='*'
    #answer +=phone_number[-4:]
    return answer

print(solution("21212000"))

****

In [ ]:
def solution(phone_number):
    answer = ''
    
    #4개를 *로 만들고
    for i in range(len(phone_number)-4):
        answer+='*'
    answer +=phone_number[-4:] #뒤에서 4개 뺀거 answer에 더하기 
    return answer

print(solution("21212000"))

****2000

##2016년
2016년 1월 1일은 금요일입니다. 2016년 a월 b일은 무슨 요일일까요? 
<조건>

1. 두 수 a ,b를 입력받아 2016년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요. 

2. 요일의 이름은 일요일부터 토요일까지 각각 SUN,MON,TUE,WED,THU,FRI,SAT


예를 들어 a=5, b=24라면 5월 24일은 화요일이므로 문자열 "TUE"를 반환하세요.

<쓰인 것>
  - 문자열 더하기

In [7]:
def solution(a, b): #월,일
    answer = 0
    days = ['FRI','SAT','SUN','MON','TUE','WED','THU'] #1월1일이 금요일부터 시작이므로 days에 금요일부터 차례대로 넣어준다.
    months = [31, 29, 31, 30, 31, 30,31, 31, 30, 31, 30, 31] 
    
    for i in range(a-1): 
      answer += months[i] #1월부터 12월의 총 일수를 다 넣어준다.

    answer += b-1
    return answer

print(solution(5,24))

144

In [9]:
def solution(a, b): #월,일
    answer = 0
    days = ['FRI','SAT','SUN','MON','TUE','WED','THU']
    months = [31, 29, 31, 30, 31, 30,31, 31, 30, 31, 30, 31]
    
    for i in range(a-1):
      answer += months[i] 
    
    answer += b-1 #지난 일수를 다 더한뒤 
    answer = answer%7
    
    return days[answer]  #7로 나눈 나머지를 days에서 출력해주면 된다.


print(solution(5,24))

TUE

In [5]:
import datetime

def getDayName(a,b):
    t = 'MON TUE WED THU FRI SAT SUN'.split()
    return t[datetime.datetime(2016, a, b).weekday()]

print(solution(5,24))

144

- datetime.datetime(YEAR, MONTH, DAY)
-weekday() : 정수로 요일을 반환합니다. 월요일은 0 ~ 일요일은 6입니다.

##시저 암호
어떤 문장의 각 알파벳을 일정한 거리만큼 밀어서 다른 알파벳으로 바꾸는 암호화 방식을 시저 암호라고 합니다.

 예를 들어 "AB"는 1만큼 밀면 "BC"가 되고, 3만큼 밀면 "DE"가 됩니다. "z"는 1만큼 밀면 "a"가 됩니다.
 
 1. 문자열 s와 거리 n을 입력받아 s를 n만큼 민 암호문을 만드는 함수, solution을 완성해 보세요.

 <쓰인것>
  - ord : 문자 출력
  - chr : 아스키코드 출력

In [19]:
def solution(s, n):
    s = list(s)
    
    for i in range(len(s)):
        if s[i].isupper():
            s[i]=chr((ord(s[i])-ord('A')+ n)%26 + ord('A')) 
        elif s[i].islower():
            s[i]=chr((ord(s[i])-ord('a')+ n)%26 + ord('a')) #(a-a +1) %26  + 97 = chr(98)

    return "".join(s)

print(solution('abc',1))

bcd

In [17]:
1%26

1

In [18]:
chr(98)

'b'

##리스트 수만큼 반복

 - range(len(리스트이름))

In [2]:
names = ['철수', '영희', '바둑이', '귀도', '비단뱀']

for i in range(len(names)):
    name = names[i]
    print('{}번 : {}'.format(i + 1, name))

1번 : 철수
2번 : 영희
3번 : 바둑이
4번 : 귀도
5번 : 비단뱀

##list의 모든 문자열을 int 값으로 변경하기
int_list = [int(i) for i in str_list]
]
- 리스트 컴프리핸션

In [12]:
def solution(n):
	return [int(i) for i in str(n)][::-1]

print(solution("345"))

[5, 4, 3]

In [13]:
def solution(n):
	return list(map(int, reversed(str(n))))
 

print(solution("345"))

[5, 4, 3]