<a href="https://colab.research.google.com/github/shhh-33/algorithm/blob/shhh/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4LV1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##모의고사

In [ ]:
def solution(answers):
    answer = []
    answer_temp = []
    count01 = 0
    count02 = 0
    count03 = 0
    
    one = [1,2,3,4,5] #12345 12345 이렇게 찍음
    two = [2,1,2,3,2,4,2,5] 
    three = [3,3,1,1,2,2,4,4,5,5]
    
    for i in range(len(answers)):
        if answers[i] == one[i%len(one)]:
            count01+=1
        if answers[i] == two[i%len(two)]:
            count02+=1
        if answers[i] == three[i%len(three)]:
            count03+=1
    
    answer_temp = [count01, count02, count03]
    
    for person, score in enumerate(answer_temp):
        if score == max(answer_temp):
            answer.append(person+1)
    
    return answer

In [ ]:
def solution(answers):
    answer = [0 for i in range(3)]

    man1 = [1,2,3,4,5]
    man2 = [2,1,2,3,2,4,2,5] #[2]로 출력
    man3 = [3,3,1,1,2,2,4,4,5,5]
    
    for i in range(len(answers)):
        ans = answers[i]
        if(man1[i%len(man1)] == ans):
            answer[0] += 1
        if(man2[i%len(man2)] == ans):
            answer[1] += 1
        if(man3[i%len(man3)] == ans):
            answer[2] += 1     
    
    result = []
    for i in range(len(answer)):
        if(answer[i] == max(answer)):
            result.append(i+1)
    
    return sorted(result)

print(solution([2,1,2,3]))

[2]

In [ ]:
def solution(answers):
    pattern1 = [1,2,3,4,5]
    pattern2 = [2,1,2,3,2,4,2,5]
    pattern3 = [3,3,1,1,2,2,4,4,5,5]
    score = [0, 0, 0]
    result = []

    for idx, answer in enumerate(answers):
        if answer == pattern1[idx%len(pattern1)]:
            score[0] += 1
        if answer == pattern2[idx%len(pattern2)]:
            score[1] += 1
        if answer == pattern3[idx%len(pattern3)]:
            score[2] += 1

    for idx, s in enumerate(score):
        if s == max(score):
            result.append(idx+1)

    return result

print(solution([2,1,2,3]))

[2]

In [ ]:
for i, letter in enumerate(['A', 'B', 'C']):
     print(i, letter)

0 A
1 B
2 C

##숫자 문자열과 영단어

In [ ]:
def solution(s):
    answer = s 
    answer = answer.replace('zero', '0')
    answer = answer.replace('one', '1')
    answer = answer.replace('two', '2')
    answer = answer.replace('three', '3')
    answer = answer.replace('four', '4')
    answer = answer.replace('five', '5')
    answer = answer.replace('six', '6')
    answer = answer.replace('seven', '7')
    answer = answer.replace('eight', '8')
    answer = answer.replace('nine', '9')


    return int(answer)


print(solution("one2"))

12

In [ ]:
num_dic = {"zero":"0", "one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

def solution(s):
    answer = s
    for key, value in num_dic.items():
        answer = answer.replace(key, value)
    return int(answer)

print(solution("one2"))

12

In [ ]:
def solution(s):
    words = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

    for i in range(len(words)): #range(9) 

        s = s.replace(words[i], str(i)) #숫자로 바꿈
        print(s)

    return int(s)


print(solution("nine245sixseven"))

nine245sixseven
nine245sixseven
nine245sixseven
nine245sixseven
nine245sixseven
nine245sixseven
nine2456seven
nine24567
nine24567
924567
924567

##체육복
다행히 여벌 체육복이 있는 학생이 이들에게 체육복을 빌려주려 합니다. 학생들의 번호는 체격 순으로 매겨져 있어, 바로 앞번호의 학생이나 바로 뒷번호의 학생에게만 체육복을 빌려줄 수 있습니다.

 예를 들어, 4번 학생은 3번 학생이나 5번 학생에게만 체육복을 빌려줄 수 있습니다. 
 
 체육복이 없으면 수업을 들을 수 없기 때문에 체육복을 적절히 빌려 최대한 많은 학생이 체육수업을 들어야 합니다.

- 전체 학생의 수 n,
-  체육복을 도난당한 학생들의 번호가 담긴 배열 lost, 
- 여벌의 체육복을 가져온 학생들의 번호가 담긴 배열 reserve가 매개변수로 주어질 때, 
- 체육수업을 들을 수 있는 학생의 최댓값을 return


    제한사항 
    1.여벌의 체육복을 가져온 학생의 수는 
    1명 이상 n명 이하이고 중복되는 번호는 없습니다.
    
    2.여벌 체육복을 가져온 학생이 체육복을 도난당했을 수 
    있습니다. 이때 이 학생은 체육복을 하나만 도난당했다고 
    가정 하며, 남은 체육복이 하나이기에 다른 학생에게는 
    체육복을 빌려줄 수 없습니다.

In [ ]:
def solution(n, lost, reserve): #전체학생수, 도난당한 학생, 여벌체육복있는 학생
    answer = 0 
    
    reserve_del = set(reserve)-set(lost) #남은 체육복 수
    lost_del = set(lost)-set(reserve) #체육복 없는 사람
    
    #앞뒤번호확인
    for i in reserve_del: 
        if i-1 in lost_del: 
            lost_del.remove(i-1) 
            
        elif i+1 in lost_del: 
            lost_del.remove(i+1) 

    #최대한 나눠준후    
    answer = n - len(lost_del) #총학생수-체육복없는사람 = 수업들을수 있는사람
    
    return answer

print(solution(5,[2,4],[3]))

4

In [ ]:
def solution(n, lost, reserve):
    _reserve = [r for r in reserve if r not in lost]
    _lost = [l for l in lost if l not in reserve]
    for r in _reserve:
        f = r - 1
        b = r + 1
        if f in _lost:
            _lost.remove(f)
        elif b in _lost:
            _lost.remove(b)
    return n - len(_lost)

##로또의 최고 순위와 최저 순위
- 민우가 구매한 로또 번호를 담은 배열 lottos, 
- 당첨 번호를 담은 배열 win_nums가 매개변수로 주어집니다. 
- 이때, 당첨 가능한 최고 순위와 최저 순위를 차례대로 배열에 담아서 return

![image.png]()

In [ ]:
def solution(lottos, win_nums):

    rank=[6,6,5,4,3,2,1]

    cnt_0 = lottos.count(0) # lottos 안의 0의 개수를 반환
    ans = 0 #순위

    # 반복문을 통해 당첨 번호 확인
    for x in win_nums:
        if x in lottos: #번호있으면
            ans += 1 #추가
    return rank[cnt_0 + ans],rank[ans] #0은 알아볼수 없는 숫자니까 당첨된지 안된지도 모름


print(solution([44, 1, 0, 0, 31, 25],	[31, 10, 45, 1, 6, 19]))

(3, 5)

##음양더하기
어떤 정수들이 있습니다. 
- 이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 
- 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어집니다.
-  실제 정수들의 합을 구하여 return

In [ ]:
def solution(absolutes, signs):
	answer = 0

	for i in range(len(signs)) :
	    if signs[i] : #참이면
	        answer += absolutes[i]
	    else :
	        answer -= absolutes[i]

	return answer


print(solution([4,7,12],[True,False,True]))

9

##두개 뽑아서 더하기
정수 배열 numbers가 주어집니다. 
- numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를
-  배열에 오름차순으로 담아 return

In [ ]:
from itertools import combinations #순열

def solution(numbers):
    answer = set()
    for i in list(combinations(numbers,2)):
        answer.add(sum(i))
    return sorted(answer)

print(solution([5,0,2,7]))

[2, 5, 7, 9, 12]

In [ ]:
def solution(numbers):
    answer = []
    for i in range(len(numbers)):
        for j in range(i+1, len(numbers)): #동일한 인덱스의 합을 막기위해서 i+1
            answer.append(numbers[i] + numbers[j])

    return sorted(list(set(answer)))

print(solution([5,0,2,7]))

[2, 5, 7, 9, 12]

##없는 숫자 더하기
0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다. 
- numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return

In [ ]:
def solution(numbers):
	answer = 0
	for i in range(10) :
		if i not in numbers :
			answer += i

	return answer

print(solution([5,8,4,0,6,7,9])) #1,2,3 없음

6

In [ ]:
def solution(numbers):
    return 45 - sum(numbers)


print(solution([5,8,4,0,6,7,9])) #1,2,3 없음

6

In [ ]:
def solution(numbers):
    numbers = set([i for i in range(10)]) - set(numbers)
    return sum(numbers)

print(solution([5,8,4,0,6,7,9])) #1,2,3 없음

6

##내적
길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어집니다. a와 b의 내적을 return 
-  a와 b의 내적은 a[0]*b[0] + a[1]*b[1] + ... + a[n-1]*b[n-1] 입니다. (n은 a, b의 길이)

In [ ]:
def solution(a, b):
    answer = 0
    for i in range(len(a)):
        answer += a[i]*b[i]
    return answer

print(solution([1,2,3,4],	[-3,-1,0,2]))

3

In [ ]:
def solution(a, b):
    c = []
    for i in range(len(a)):
        c.append(a[i]*b[i])
    return sum(c)

In [ ]:
def solution(a, b):

    return sum([x*y for x, y in zip(a,b)])

##약수의 개수와 덧셈
두 정수 left와 right가 매개변수로 주어집니다. 
- left부터 right까지의 모든 수들 중에서,
-  약수의 개수가 짝수인 수는 더하고, 약수의 개수가 홀수인 수는 뺀 수를 return

![image.png]()

In [ ]:
def solution(left, right):
    answer = 0
    for i in range(left, right+1):

        now_count = 0;			#약수의 개수
        for j in range(1, i+1):		#1부터 i까지 증가하며 약수를 찾아냅니다.
            if i % j == 0:		#나누어 떨어지는 수는 약수!
                now_count +=1;		#약수라면 개수를 증가시켜줍니다.
                
        if now_count % 2 == 0:	#홀짝
            answer += i			
        else:
            answer -= i			
            
    return answer

##나머지가 1이 되는 수 찾기

자연수 n이 매개변수로 주어집니다.

 n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 return

In [ ]:
def solution(n):
    for i in range(1,n):
        if n%i==1:
            return i
            break

print(solution(10))

3

##3진법 뒤집기
자연수 n이 매개변수로 주어집니다.

 n을 3진법 상에서 앞뒤로 뒤집은 후, 이를 다시 10진법으로 표현한 수를 return

In [ ]:
def solution(n):
    answer = 0
    result = ''
    while n > 0:
        n,b = divmod(n,3) #몫,나머지 반환
        result += str(b)
    answer = int(result,3) #int(x,3) : 3진법으로 구성된 x를 10진법으로 바꿔주는 역할
    return answer

In [ ]:
def solution(n):
    tmp = ''
    while n:
        tmp += str(n % 3)
        n = n // 3

    answer = int(tmp, 3)
    return answer