<a href="https://colab.research.google.com/github/shhh-33/algorithm/blob/shhh/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4LV1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##평균구하기
1. 정수를 담고 있는 배열 arr의 평균값을 return

<쓰인것>
 - sum, len

In [ ]:
def solution(arr):
   return sum(arr)/len(arr)

#출력
a=[1,2,3]
print(solution(a))

2.0

##짝수와 홀수
정수 num이 짝수일 경우 "Even"을 반환하고 홀수인 경우 "Odd"를 반환하는 함수

In [ ]:
def solution(num):
    if(num %2==0):
      return "Even"
    else:
      return "Odd"

print(solution(5))

Odd

##별

<쓰인 것>
- 입력받기
- strip : 양쪽공백제거

In [2]:
a, b = map(int, input().strip().split(' '))

for i in range(a):            #바깥쪽 루프는 세로 방향
    for j in range(b):        #  안쪽 루프는 가로 방향
        print('*', end='')    #end : 붙여씀
    print('')

5 3
***
***
***
***
***

##최대공약수와 최소공배수
1. 두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환
2. 배열의 맨 앞에 최대공약수, 그다음 최소공배수를 넣어 반환하면 됩니다. 

예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 solution(3, 12)는 [3, 12]를 반환해야 합니다.

In [ ]:
from math import gcd
# python 3.9 부터는 math.lcm 사용 가능

def solution(n, m):
    return [gcd(n, m), n * m // gcd(n, m)]

In [ ]:
def gcdlcm(a, b):
    c, d = max(a, b), min(a, b)
    t = 1
    while t > 0:
        t = c % d
        c, d = d, t
    answer = [c, int(a*b/c)]    #최대공약수, 최소공배수

    return answer

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(gcdlcm(3,12))

##x만큼 간격이 있는 n개의 숫자

1. 함수 solution은 정수 x와 자연수 n을 입력 받아
2. x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다.


x	n	answer


2	5	[2,4,6,8,10]

In [ ]:
def solution(x, n):
    answer = [] #빈 리스트
    tmp = 0
    for i in range(n):
        tmp += x
        answer.append(tmp) #빈 리스트에 추가해서 리턴
        
    return answer

print(solution(2,5))

[2, 4, 6, 8, 10]

##정수 내림차순으로 배치하기
1. 함수 solution은 정수 n을 매개변수로 입력받습니다.
2.  n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 

예를들어 n이 118372면 873211을 리턴하면 됩니다.

<쓰인것>
 - str
 - 큰->작(내림차순)reverse =True
 - join

In [ ]:
def solution(n):
    n = list(str(n)) #빈리스트를 만드는데..정렬해야하니까 리스트안의 원소를 문자열 형태로 바꿔서 입력받자
    n.sort(reverse=True)    
    
    return int("".join(n)) #다시 문자열 형태로 변환해서 출력하고 싶은데 정수로 해야하니까

print(solution(111434))

443111

##약수의 합
정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수

In [4]:
def solution(n):
    sum = 0
   
    for i in range(1, n+1):
        if n % i == 0: #약수의 조건
            sum += i
                 
    return sum
        
print(solution(12))

28

##두 정수 사이의 합
1. 두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴

예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

<쓰인것>
 - min ,max
 - sum

In [ ]:
def solution(a, b):
    return sum(range(min(a, b), max(a, b) + 1))

print(solution(3,5))

12

##자릿수 더하기
1. 자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 


예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [ ]:
def solution(n):
    N=[int(i) for i in str(n)]

    return sum(N)
    
print(solution(344))

11

In [14]:
def sum_digit(number):
    '''number의 각 자릿수를 더해서 return하세요'''
    return sum(map(int,str(number)))

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print("결과 : {}".format(sum_digit(123)));

결과 : 6

![image.png]()

In [13]:
 z = list(map(str, range(10)))
 z

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
sum([1, 2, 3])	 
# 6

sum([1, 2, 3], 5)
# 11

sum([], 5)
# 5 ==> 빈 iterable을 넣는다면 start 값이 return 된다.

##행렬의 덧셈

In [ ]:
def sumMatrix(A,B):
    answer = []
 
    for i in range(len(A)):
        tmp=[]
        for j in range(len(A[i])):
            tmp.append(A[i][j]+B[i][j])
        
        answer.append(tmp)
     
    return answer
  
# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(sumMatrix([[1,2], [2,3]], [[3,4],[5,6]]))

[[4, 6], [7, 9]]

In [ ]:
list1 = [1,2,3,4]
a = np.array(list1)
print(a)

[1 2 3 4]

In [ ]:
import numpy as np
def sumMatrix(A,B):
    A=np.array(A)
    B=np.array(B)
    answer=A+B
    return answer.tolist()

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(sumMatrix([[1,2], [2,3]], [[3,4],[5,6]]))

[[4, 6], [7, 9]]

##소수 찾기
1부터 입력받은 숫자 n 사이에 있는 소수의 개수를 반환하는 함수, solution을 만들어 보세요.

소수는 1과 자기 자신으로만 나누어지는 수를 의미합니다.
(1은 소수가 아닙니다.)

In [16]:
def solution(n):
    count = 0
    for n in range(2, n+1): #1은 소수가 아니니
        for i in range(2, n):
            if n%i == 0:
                break
        else:    
            count += 1
    return count


print(solution(10))

4

에라토스테네스의 체(Sieve of Eratosthenes)'라는 방법이 사용된 코드. 

n까지의 모든 소수를 구한다고 하면 2를 제외한 모든 2의 배수를 num에서 제거. 3을 제외한 모든 3의 배수를 num에서 제거. 4는 아까 2에서 제거. 5를 제외한 모든 5의 배수를 num에서 제거. 이렇게 반복해서 num에 남아 있는 수들이 소수이다.

In [ ]:
def solution(n):
    num=set(range(2,n+1))

    for i in range(2,n+1):
        if i in num:
            num-=set(range(2*i,n+1,i))
    return len(num)

print(solution(10))

4

##같은 숫자는 싫어
배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return

In [ ]:
def solution(arr):
    answer = []
    
    for i in range(len(arr)):
        if i == 0:
            answer.append(arr[i]) #첫번째는 무조건 넣음
        elif arr[i] != arr[i-1]: # 현재 list의 값이 그 전의 값과 다르다면 answer list에 추가, 같다면 추가하지 않음
            answer.append(arr[i])   
    
    return answer

print(solution([1,1,1,2,3,4,44,4]))

[1, 2, 3, 4, 44, 4]

In [ ]:
list_a = [1,3,2,3,5,3,4,4,5]
list_b = list(set(list_a))
print(list_b)

[1, 2, 3, 4, 5]

In [ ]:
a='323,4,4'
b=[1,3,4]
print(a)
print(b)

323,4,4
[1, 3, 4]

##나누어 떨어지는 숫자 배열
1. array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환
2. divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

- 배열값 리스트에 담기

In [ ]:
def solution(arr, divisor):
    answer = []
    for i in range(len(arr)) :
        if arr[i] % divisor == 0 :
            answer.append(arr[i]) #조건1 

    if len(answer) == 0 :
        answer.append(-1)
    else :
        answer.sort()
    return answer

print(solution([1,2,3],2))

[2]

In [ ]:
def solution(arr, divisor):
    answer = []

    for i in arr:
        if i % divisor == 0:
            answer.append(i)

    if not answer:
        answer = [-1]

    answer.sort()        
    return answer


print(solution([1,2,3],2))

[2]

##자연수 뒤집어 배열로 만들기
1. 자연수 n을 뒤집어
2.  각 자리 숫자를 원소로 가지는 배열 형태로 리턴

 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴

In [ ]:
def solution(n):
    a = [] #빈 배열

    s = reversed(str(n)) #정렬하려고 문자열형태로..

    for i in s:
        a.append(int(i)) #정수형태로 배열에 넣기..
    return a

print(solution(12345))

[5, 4, 3, 2, 1]

##하샤드 수
1. 양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.

 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.
 
2. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

In [17]:
def solution(x):
    arr = list(str(x))
    return arr

print(solution(33))

['3', '3']

In [19]:
def solution(x):
    arr = list(str(x))
    sum = 0
    
    for i in range(len(arr)):
        sum += int(arr[i])
        
        if x % sum == 0: #18%9
            answer = True
        else:
            answer = False    
    
    return answer

print(solution(18))

True

In [ ]:
def Harshad(n):
    # n은 하샤드 수 인가요?
    return n % sum([int(c) for c in str(n)]) == 0

print(solution(18))

True

##콜라츠 추측
주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1. 입력된 수가 짝수라면 2로 나눕니다. 

2.  입력된 수가 홀수라면 3을 곱하고 1을 더합니다. 

3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 


예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 

위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 

단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

In [21]:
def solution(num):
    answer = 0
    
    for i in range(500):
        if num % 2 == 0: #짝수라면
            num = num/2
            answer += 1   
            
        if num == 1:
            break

        if num % 2 != 0:  #홀수라면
            num = (num*3)+1
            answer += 1

        if num == 1:
            break

        if answer > 500 and num != 1:
            answer = -1
            break
    
    return answer

print(solution(6))

8

In [ ]:
def collatz(num):
    answer = 0
    while answer < 500:
        answer += 1

        if num % 2 == 0:
            num = num / 2
        else:
            num = (num * 3) + 1
            
        if num == 1:
            break
    if answer == 500:
        answer = -1

    return answer

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(collatz(1126015))

-1

##제일 작은 수 제거하기

1. 정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴 
2.단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요. 

예를들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.

<쓰인것>
 - min
 - remove, insert

In [ ]:
def solution(arr):
    answer = []
    
    minVal = min(arr) #조건1
    arr.remove(minVal)
    
    if not arr: #조건2
        arr.insert(0,-1)
    
    return arr

print(solution([4,3,2,1]))

[4, 3, 2]

In [ ]:
def solution(arr):

    if len(arr) > 1:
        arr.remove(min(arr))
        
        return arr
    else: #조건2
        return [-1]

print(solution([4,3,2,1]))

[4, 3, 2]

##정수 제곱근 판별
임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.


n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

In [ ]:
import math
 
def solution(n):
    if int(math.sqrt(n)) == math.sqrt(n):
        answer = pow(math.sqrt(n)+1, 2)
    else:
        answer = -1
    return answer

print(solution(4))

9.0

In [ ]:
import math

def solution(n):    
    a=math.sqrt(n)
    if int(a)==a:
        return (a+1)**2
    else:
        return -1
        
print(solution(4))

9.0